.button {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 13em;
  height: 3em;

  font-size: large;
  font-weight: 700;
  font-family: inherit;
  background-color: white;
  color: #3d3d3d;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 2em;
}
.button:hover {
  background-color: #7ed957;
  color: white;
}
.button:active {
  background: white;
  color: #3d3d3d;
}

@media (max-width: 768px) {
  .button {
    font-size: medium;
  }
}

@media (max-width: 576px) {
  .button {
    font-size: small;
  }
}
