.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a6a6a6;
  font-size: 1rem;
  color: black;
  width: 24em;
  padding: 0 1em;
  font-weight: bold;
}

.task img {
  height: 32px;
}

.task_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.task_images img {
  cursor: pointer;
}

.task_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
}
.task_about h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.task_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

.tasks_number {
  background-color: #7ed957;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.tasks_outer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}

.task_info input {
  width: 2em;
  height: 2em;
  margin: 8px;
  accent-color: #7ed957;
}

.task_KeepGoing {
  display: none;
}

@media (max-width: 576px) {
  .task_about {
    font-size: 1.2rem;
  }
  .tasks_number {
    width: 3em;
    height: 3em;
    font-size: 1.8rem;
  }
  .task {
    width: 18em;
  }
}

@media (max-width: 400px) {
  .task_about {
    font-size: 1rem;
  }
  .tasks_number {
    width: 2.5em;
    height: 2.5em;
    font-size: 1.5rem;
  }
  .task {
    width: 15em;
  }
}
