.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 300;
  background: rgba(0, 0, 0, 0.75);
}

.card {
  position: fixed;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  z-index: 1000;
  /* background: white; */
  background: lightgray;
  border-radius: 1em;
  overflow: hidden;
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal_title {
  display: flex;
  justify-content: center;
  background-color: #7ed957;
  padding: 1em;
  width: 100%;
}
.modal_question {
  display: flex;
  color: black;
}

.modal_input {
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 1em;
  border: 1px solid #7ed957;
  text-indent: 1em;
  outline-color: #7ed957;
}

.buttons {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

@media (max-width: 576px) {
  .card {
    width: 400px;
    height: 300px;
    margin-left: -200px;
  }
}

@media (max-width: 420px) {
  .card {
    width: 300px;
    /* height: 200px; */
    margin-left: -150px;
  }
  .modal_input {
    margin: 3em;
    width: 12em;
  }
  .buttons {
    flex-direction: column;
  }
}
