.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
  z-index: 200;
}

.navigation a {
  color: #002332;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

.links a {
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.links a:hover,
.links a.active {
  color: #7ed957;
  background-color: rgba(126, 217, 87, 0.1);
}

.nav_svg {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
}

.links {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tasks_status {
  position: absolute;
  background-color: #ff3130;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -47px;
  margin-left: 82px;
}

.nav_modal {
  display: none;
}

.nav_modal_header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.nav_modal.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  z-index: 400;
}

.nav_modal a {
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav_modal a:hover {
  background-color: rgba(126, 217, 87, 0.1);
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .nav_svg {
    justify-content: space-between;
    padding: 0 20px;
  }

  .navigation {
    padding: 10px;
  }

  .navigation a {
    font-size: 1.2rem;
  }

  .tasks_status {
    margin-left: 150px;
  }

  .close {
    display: flex;
    margin: 0 1.5em;
  }
}
